*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body{
    background-image: linear-gradient(to left, #07f5cd, #2f3030);
}
body > .outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body > .outer > .inner{
    background-image: linear-gradient(to right, #2c5af1, #8b268f);
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.6);
    margin: 40px;
}
input{
    border: 2px solid #07f5cd;
    border-radius: 5px;
}


body > .outer > .react{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.6);
    margin: 50px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* background: red; */
}
body > .outer > .react > .emoji-parent {
    width: 75%;
    /* background: green; */
    position: relative;
}
body > .outer > .react > .emoji-parent > .emoji{
    /* background-color: black; */
    position: relative;
    left: 0px;
    background-size: 100% 100% !important;
    height: 100px;
    width: 100px;
    /* margin: 10px auto;     */
}
body > .outer > .react > .anime{
    /* background-color: blue; */
    background-size: 100% 100% !important;
    height: 200px;
    width: 300px;
}


.animate{
    animation: first 4s linear infinite alternate-reverse ;
}
@keyframes first {
    0%   {background-color: #07f5cd; left:0;}
    100% {background-color: #07f5cd; left: calc(100% - 100px);}
  } 
